.App {
  text-align: center;
  height: 1000px;
}

.Search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Search-Bar {
  width: 20%;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(38, 205, 241, 0.5);
  border-radius: 50px;
  padding: 10px 20px;
  border: none;
}

.Search-Button {
  background: lightseagreen;
  border-radius: 50px;
  padding: 10px 20px;
  color: white;
  border: none;
}

.Search-Location {
  background: lightskyblue;
  border-radius: 50px;
  padding: 10px 20px;
  color: white;
  border: none;
}

.background-cold {
  background: linear-gradient(
    179.31deg,
    rgba(48, 87, 89, 0.97) 9.28%,
    #fdfeff 167.45%
  );
}

.background-warm {
  background: linear-gradient(
    179.31deg,
    rgba(204, 101, 26, 0.97) 9.28%,
    #fdfeff 167.45%
  );
}

.background-clear {
  background: linear-gradient(
    179.31deg,
    rgba(120, 192, 197, 0.97) 9.28%, 
    #FDFEFF 167.45%
  );
}

.background-thunderstorm {
  background: linear-gradient(
    179.31deg,
    rgba(87, 42, 182, 0.97) 9.28%,
    #fdfeff 167.45%
  );
}

.background-rain {
  background: linear-gradient(
    180deg, 
    #0E2F62 0%, 
    #fdfeff 167.45%
  );
}

.background-cloudy {
  background: linear-gradient(
    #000000,
    #fdfeff 167.45%
  );
}

.temp-tile {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.card {
  flex: 0 0 auto;
}

.tile-border {
  border: 1px solid #FDFEFF;
  margin: 10px;
  min-width: 40px;
  max-width: 40px;
  padding: 20px 20px;
  border-radius: 15px;
}

.time-of-day-tile {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}