.App {
  text-align: center;
  height: 1000px;
  background: linear-gradient(179.31deg, rgba(48, 87, 89, 0.97) 9.28%, #FDFEFF 167.45%);
}

.Search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Search-Bar {
  width: 20%;
  border:  none;
  padding: 10px;
}

.Search-Button {
  background: lightseagreen;
  border: none;
  padding: 10px 20px;
  color: white;
}

.background-cold {
  background: linear-gradient(179.31deg, rgba(48, 87, 89, 0.97) 9.28%, #FDFEFF 167.45%);
}

.background-warm {
  background: linear-gradient(179.31deg, rgba(204, 101, 26, 0.97) 9.28%, #FDFEFF 167.45%);
}

.background-cloudy {
  background: linear-gradient(179.31deg, rgba(87, 42, 182, 0.97) 9.28%, #FDFEFF 167.45%);
}
