.App {
  text-align: center;
  height: 1000px;
}

.Search-form {
  /* min-height: 10vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  position: absolute;
  right: 0px;
  padding: 10px;
}

.row {
  display: -webkit-flex;
  display: flex;
  height: 10%;
}

.column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px;
}

.Search-Bar {
  width: 60%;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(38, 205, 241, 0.5);
  border-radius: 50px;
  padding: 10px 20px;
  border: none;
  display: inline;
}

.Search-Button {
  background: lightseagreen;
  border-radius: 50px;
  padding: 10px 20px;
  color: white;
  border: none;
  display: inline;
}

.Search-Location {
  background: lightskyblue;
  border-radius: 50px;
  padding: 10px 20px;
  color: white;
  border: none;
}

.temp-tile {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.card {
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  max-width: 40px;
}

.tile-border {
  border: 1px solid #fdfeff;
  margin: 10px;
  min-width: 40px;
  max-width: 40px;
  padding: 20px 20px;
  border-radius: 15px;
}

.icon-temptile {
  color: white;
}

.icon-temptile-now {
  color: black;
}

.tile-border-now {
  border: 1px solid #fdfeff;
  margin: 10px;
  min-width: 40px;
  max-width: 40px;
  padding: 20px 20px;
  border-radius: 15px;
  background-color: white;
}

.time-of-day-tile {
  display: flex;
  max-height: 220px;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageButton {
  background: lightseagreen;
  min-width: 120px;
  max-width: 120px;
  border-radius: 50px;
  padding: 10px 20px;
  color: white;
  border: none;
}

.pageButton-active {
  background: darkblue;
  min-width: 120px;
  max-width: 120px;
  border-radius: 50px;
  padding: 10px 20px;
  color: white;
  border: none;
}

.top-margin {
  margin-top: 50px;
}
